<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <form class="prod-form d-flex justify-content-center align-items-center flex-column" id="add" action="http://localhost:8080/api/productos" method="POST">
        <h1>Ingrese nombre:</h1>
    
        <div class="d-flex flex-column align-items-center">
            <input type="text" name="title" class="form-control" placeholder="Titulo" style="margin-bottom: 10px;">
            <input type="text" name="price" class="form-control" placeholder="Precio" style="margin-bottom: 10px;">
            <input type="text" name="thumbnail" class="form-control" placeholder="Thumbnail" style="margin-bottom: 10px;">
            <button target="_blank" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    
</body>
</html>