<form class="prod-form d-flex justify-content-center align-items-center flex-column" id="add" action="http://localhost:8080/api/productos" method="POST">
    <h1>Ingrese producto:</h1>

    <div class="d-flex flex-column align-items-center">
        <input type="text" name="title" class="form-control" placeholder="Producto" style="margin-bottom: 10px;">
        <input type="text" name="price" class="form-control" placeholder="Precio" style="margin-bottom: 10px;">
        <input type="text" name="thumbnail" class="form-control" placeholder="Link Imagen" style="margin-bottom: 10px;">
        <button type="submit" class="btn btn-primary">Ingresar</button>
    </div>
</form>
