<div class = "text-center">
    <form action="<%= link %>" method = "GET">
        <button type="submit" class="text-center btn btn-outline-primary"><%= btn_name %> </button>
    </form>        
</div>